<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> This is a test page for templates </title>  
</head>
<body>
    Welcome to my website guys. I will be creating my website in Djago.
    please let me know if you want me to make your website. Hurreyyyyy
    variable1 value is <b>{{variable1}}</b>   <!--  to define variable ... from view anything you pass to this variable will come here. -->  
    variable2 value is <b>{{variable2}}</b>
    <p>
        Lorem, ipsum dolor sit?
    </p>
</body>
</html>


