<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logged in User</title>
  </head>
  <body>
        Welcome {{request.user}}
        <p> 
          This is the best website. You are very lucky to access it. Why dont you explore this website and let us know if any positive or negative feedbacks. Good luck.
          Thank you for visiting this website.
        </p>
        <a href="/logout"> Logout </a>
  </body>
</html>